$ugly-sewage-green: #00695c;
$p-light-color: #439889;
$p-dark-color: #003d33;

$font-color: #00120f;

$secondary-color: #b2dfdb;
$tertiary-color: #d1ece9;
$s-light-color: #e5ffff;
$s-dark-color: #82ada9;

html {
  height: 100vh;
  // prevents the window from over-scrolling and bouncing beyond the 100% screen size
  overflow: hidden;
}

body,
#root,
#app-container {
  height: 100%;
}

body {
  margin: 0px;
}

* {
  // border: 1px black solid;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  width: 100px;
  margin: 8px;
}

.cluster-chart-card {
  background-color: $s-light-color;
  box-shadow: 0px 1px 4px 0px $p-dark-color;
  border-radius: 0.2rem;
  margin: 10px 10px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;

  .cluster-chart-names {
    display: inline-block;
    width: 100px;
  }

  svg {
    margin: 0px 5px;
    // border: black 2px solid;
  }

  svg:hover {
    filter: drop-shadow(2px 2px 3px $p-dark-color);
  }
}

#app-container {
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

#contents {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  & #left-side,
  #right-side {
    width: 50vw;
    height: 100%;
  }
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > * {
    margin: 8px;
    padding: 12px;
  }
}

#tagline {
  display: block;
  margin: 0;
  text-align: right;
  background-color: $ugly-sewage-green;
  font-weight: 100;
  font-size: 1rem;
  font-style: italic;
  color: whitesmoke;
  padding-right: 12px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $ugly-sewage-green;
  img {
    display: block;
  }
  h1 {
    display: block;
    height: max-content;
    color: whitesmoke;
    padding-right: 12px;
    font-size: 2rem;
  }
}

footer {
  font-size: 0.75rem;
  text-align: center;
  color: $ugly-sewage-green;
  padding: 4px 0;
}

// Right side event styling
#container-event {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $tertiary-color;

  & > * {
    padding: 12px;
    margin: 8px;
  }
}

#container-event-logs {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  // I thiiink flex-grow maxes out the height, but a fixed height is needed to make
  // overflow-y scrolling feature working. I don't know why.
  height: 100px;
  color: $font-color;
  background-color: whitesmoke;
  // border: 4px solid $s-dark-color;
  box-shadow: 0px 1px 4px 0px $p-dark-color;
  margin: 0px 20px 16px 20px;

  .event-card {
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    box-shadow: 0px 1px 4px 0px $p-dark-color;
    background-color: white;
    border-radius: 0.4rem;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    p {
      margin: 0.5rem 0;
    }
  }
}

#container-select {
  display: flex;
  justify-content: flex-start;
  gap: 24px;

  & > select {
    width: 140px;
    font-size: 1.1rem;
    // border: 1px solid black;
    // border-radius: 0.4rem;
    box-shadow: 0px 0.4px 2px 0px #003d33;
    padding: 0.25rem 0.5rem;

    &:hover,
    &:focus-visible {
      outline: 2px solid $p-light-color;
    }

    & > option:hover,
    option:checked {
      box-shadow: 0 0 10px 100px $s-light-color inset !important;
    }
  }
}
