$ugly-sewage-green: #00695c;
$p-light-color: #439889;
$p-dark-color: #003d33;

$font-color: #002a25;

$secondary-color: #b2dfdb;
$tertiary-color: #d1ece9;
$s-light-color: #e5ffff;
$s-dark-color: #82ada9;

$sidebar-width: 240px;
$sidebar-width-closed: 80px;

$header-height: 56px;

$grey: #ddd;

html {
  height: 100vh;
  // prevents the window from over-scrolling and bouncing beyond the 100% screen size
  overflow: hidden;
}

body,
#root,
#sidebar,
#contents,
#landing-container,
#analysis-container {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  // border: 1px black solid;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  width: 180px;
  margin: 8px;
  transition: all 0.3s;
}

#logo-menu-closed {
  width: 60px;
  margin: 8px;
}

#root {
  height: 100vh;
  padding: 0px;
  display: flex;
}

#sidebar {
  width: $sidebar-width;
  background-color: #004941;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s;

  a {
    & > img {
      margin-top: 50px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      &,
      * {
        text-decoration: none;
        margin: 0.6rem 0;
        font-size: 1.2rem;
        color: whitesmoke;
      }
    }
  }

  #close-menu-icon,
  #open-menu-icon {
    width: 1.2rem;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    cursor: pointer;
  }

  .sidebar-page-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;

    .sidebar-icon {
      width: 2.4rem;
      color: white;
      transition: all 0.3s;
    }

    .sidebar-icon-closed {
      @extend .sidebar-icon;
      width: 2rem;
      transition: all 0.3s;
    }

    .sidebar-names {
      transition: all 1s;
    }
  }
}

#sidebar-closed {
  @extend #sidebar;
  width: $sidebar-width-closed;
  transition: all 0.3s;
}

#page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  height: 100vh;
}

#header {
  display: flex;
  justify-content: flex-end;
  background-color: $ugly-sewage-green;

  img {
    display: block;
  }

  a {
    text-decoration: none;

    // logo-hat load as "focus-visible" with a yellow outline on app load
    // this is to disable that :(
    &:focus-visible {
      outline: none;
    }
  }

  h1 {
    display: block;
    height: max-content;
    color: whitesmoke;
    padding-right: 12px;
    margin: 12px;
    font-size: 1.7rem;
  }
}

#contents {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  background-color: #b2dfdb;
  // transition: all 0.3s;

  & #left-side,
  #right-side {
    height: 100%;
    width: calc((100vw - $sidebar-width) / 2);
    transition: all 0.3s;
  }

  & #left-side-closed,
  #right-side-closed {
    height: 100%;
    width: calc((100vw - $sidebar-width-closed) / 2);
    transition: all 0.3s;
  }
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#tagline {
  display: block;
  margin: 0;
  text-align: right;
  background-color: $ugly-sewage-green;
  font-weight: 100;
  font-size: 1rem;
  font-style: italic;
  color: whitesmoke;
  padding-right: 12px;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  color: $ugly-sewage-green;
  padding: 4px 0;
}

// left side styling
.cluster-chart-card {
  background-color: white;
  box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
  border-radius: 10px;
  margin: 1rem 2rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  color: $font-color;

  .cluster-chart-names {
    display: inline-block;
    width: 100px;
  }

  svg {
    margin: 0px 5px;
    // border: black 2px solid;
  }

  svg:hover {
    filter: drop-shadow(2px 2px 3px $font-color);
  }

  .health-bar {
    cursor: pointer;
  }
}

.cluster-btns {
  display: flex;
  gap: 0.6rem;
  margin: 1rem 2rem;

  .select-mem,
  .select-cpu {
    font-size: 0.7rem;
    border-radius: 10px;
    border: none;
    background-color: $ugly-sewage-green;
    color: white;
    min-width: 2.4rem;
    padding: 0.4rem 0.8rem;
    font-weight: 500;
    transition: all 0.2s;
  }

  .select-mem {
    top: 0.4rem;
    left: 4.3rem;
  }
  .select-cpu {
    top: 1.8rem;
    left: 4.3rem;
  }

  .select-mem:hover,
  .select-cpu:hover {
    background-color: white;
    color: $font-color;
    cursor: pointer;
    filter: drop-shadow(2px 2px 3px $font-color);
  }
}
.modal {
  animation-name: opac;
  animation-fill-mode: both;
  animation-duration: 0.5s;

  position: absolute;
  color: white;
  background-color: $ugly-sewage-green;

  box-shadow: 10px 10px 10px 6px rgb(64 0 0 / 20%);
  margin: 16px 20px 16px 20px;
  border-radius: 10px;
  padding: 0.4rem 1rem;
  z-index: 999;

  .modalClose {
    position: relative;
    display: flex;
    justify-content: flex-end;

    #modalCloseBtn {
      cursor: pointer;
    }
  }

  .modalList {
    list-style: none;
    padding-left: 0;
  }
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Right side event styling
#container-event {
  display: flex;
  flex-direction: column;
  height: 100%;

  // background-color: $tertiary-color;

  // & > * {
  //   padding: 0.8rem;
  //   margin: 0.5rem;
  // }
}
// Right side of event styling
#container-event-logs {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  // I thiiink flex-grow maxes out the height, but a fixed height is needed to make
  // overflow-y scrolling feature working. I don't know why.
  height: 100px;
  color: $font-color;
  background-color: whitesmoke;
  // border: 4px solid $s-dark-color;
  box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
  margin: 0rem 2rem 1rem 1rem;
  border-radius: 10px;
  padding: 1rem;

  .event-card {
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
    background-color: white;
    border-radius: 10px;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  .no-logs-msg {
    font-size: 1rem;
    text-align: center;
    background-color: $grey;
    border-radius: 10px;
    padding: 1rem;
    color: $font-color;
  }
}

#container-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  height: 50px;
  margin-top: 0.4rem;
  margin-left: 1rem;

  & > select {
    width: 140px;
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
  }
}

.analyze {
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 2px 2px 6px rgb(64 0 0 / 20%);
  border-radius: 10px;
  border: none;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  background-color: $ugly-sewage-green;
  color: white;
  transition: all 0.2s;
}

.analyze:hover {
  background-color: white;
  color: $font-color;
  cursor: pointer;
  filter: drop-shadow(2px 2px 3px $font-color);
}

#graph {
  color: $font-color;
  background-color: white;
  box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 2rem;
  padding: 0.5rem;

  .legend-btn-main {
    background-color: $ugly-sewage-green;
    color: white;
    box-shadow: 2px 2px 6px rgb(64 0 0 / 20%);
    border-radius: 10px;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
    transition: all 0.2s;
  }
  .legend-btn-main:hover {
    background-color: white;
    color: $font-color;
    cursor: pointer;
    border: none;
    // filter: drop-shadow(2px 2px 3px $font-color);
  }
}

.loader {
  border: 6px solid $s-dark-color;
  /* Light grey */
  border-top: 6px solid $p-dark-color;
  /*#3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// This is styling for Landing page
#landing-container {
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  #logo-large {
    height: 48%;
    width: auto;
  }

  #namespace-selector-form {
    margin-top: 15vh;
    height: fit-content;
    width: 400px;
    padding: 10px 30px 30px 30px;

    // the code below will center the form absolutely
    // position: absolute;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;

    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(rgb(64, 0, 0), 0.2);

    text-align: center;
    #ns-error {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #error {
      color: red;
      font-weight: bold;
      font-size: 0.75rem;
    }

    h2 {
      color: $font-color;
      font-size: 1.25rem;
    }

    #selector-namespace {
      width: 320px;
      height: 3rem;
      padding: 10px;
      font-size: 1.2rem;
      border-radius: 5px;
    }
  }
}

select:hover,
select:focus-visible,
button:hover,
button:focus-visible {
  outline: 2px solid $p-light-color;
}

// ANALYSIS PAGE ------------------------------------------------------------------------------------------>>

#analysis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  // height: calc(100vh - $header-height);
  .analysis-nav {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 2rem;
    color: $font-color;

    &-left {
      .analysis-form {
        display: grid;
        grid-template-columns: repeat(5, auto);
        width: fit-content;
        
        .loading-bar{
          display: flex;
          align-items: center;
          // justify-content: space-between;
          #loadname{
            padding-right: 1rem;
          }
        }
        flex: 1;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        min-height: 4rem;

        #oomkill-selector {
          font-size: 1rem;
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          box-shadow: 2px 2px 6px rgb(64 0 0 / 20%);
          border-radius: 10px;
          border: none;
          height: fit-content;
        }

        .analysis-interval {
          font-size: 1rem;
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          box-shadow: 2px 2px 6px rgb(64 0 0 / 20%);
          border-radius: 10px;
          border: none;
          height: fit-content;
          width: 3rem;
        }

        .interval-unit {
          font-size: 1rem;
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          box-shadow: 2px 2px 6px rgb(64 0 0 / 20%);
          border-radius: 10px;
          border: none;
          height: fit-content;
        }

        .query-btn {
          font-size: 1rem;
          padding: 0.25rem 0.5rem;
          cursor: pointer;
          box-shadow: 2px 2px 6px rgb(64 0 0 / 20%);
          border-radius: 10px;
          border: none;
          background-color: $ugly-sewage-green;
          color: white;
          transition: all 0.3s;
          height: fit-content;
        }

        .query-btn:hover {
          background-color: white;
          color: $font-color;
          cursor: pointer;
          filter: drop-shadow(2px 2px 3px $font-color);
        }

        .tooltip {
          cursor: pointer;
        }
      }
    }

    .analysis-oomkill-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      min-width: 30vw;
      min-height: 5.4rem;
      background-color: white;
      box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
      border-radius: 10px;
      margin: 0rem 1rem;
      padding: 0rem 1rem;
      font-size: 0.4rem;
      max-width: auto;

    
      .oomkilled-pod-data {
        margin-top: 0.4rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $font-color;
        font-weight: 700;
        text-align: center;
      }

      &-container {
        display: flex;
        font-size: 1rem;
        justify-content: center;
        gap: 3rem;
      }
    }
  }
  .no-data-msg {
    flex-wrap: nowrap;
    font-size: 0.8rem;
    text-align: center;
    background-color: #ddd;
    border-radius: 10px;
    padding: 1rem;
    color: $font-color;
    
    &.graph-msg {
      margin-top: 2rem;
      max-height: 2rem;
      width: 80%;
    }
  }

  .analysis-oomkill-data-msg {
    font-size: 0.9rem;
  }

  .analysis-main {
    display: flex;
    width: 100%;
    height: 78vh;
      flex-grow: 1;

    &>div {
      margin: 1rem 2rem;
    }

    .pod-overview {
      display: flex;
      flex-direction: column;
      padding: 1rem 1.5rem;
      box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
      background-color: white;
      border-radius: 10px;
      height: 14rem;
      margin: 0rem 1rem 2rem 1rem;

      .summary {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $font-color;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
      }
    }

    .filtered-log-container {
      display: flex;
      flex-direction: column;
      padding: 1rem 1.5rem;
      box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
      background-color: whitesmoke;
      border-radius: 10px;
      // height: 30rem; // use this height for when the summary works
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      .filtered-events-heading {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $font-color;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
      }
      .event-card {
        position: relative;
        font-size: 0.6rem;
        margin-bottom: 1rem;
        padding: 1rem 1.5rem;
        box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
        background-color: white;
        border-radius: 10px;
      }
    }

    #left-side {
      width: 400px;
    }

    // chart styling
    #chartarea {
      background-color: white;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 2rem;
      justify-content: center;
      margin-left: 0;
      box-shadow: 5px 10px 10px rgb(64 0 0 / 20%);
      border-radius: 10px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .line-chart-div {
      display: flex;
      // border: 1px solid black;
      flex-direction: column;
      margin: 2rem;
      padding: 0.4rem;

      // when row can add a new 30 rem wide chart, it will be added
      min-width: 0;
      // max-width: 50rem;

      // chart height is fixed to prevent infinite height increase
      max-height: 20rem;
      flex: 0 1 calc(40% - 2rem);
    }

    .legend-btn-grid {
      background-color: $ugly-sewage-green;
      color: white;
      box-shadow: 2px 2px 6px rgb(64 0 0 / 20%);
      border-radius: 10px;
      border: none;
      padding: 0.4rem 0.8rem;
      border-radius: 10px;
      width: fit-content;
      align-self: center;
      transition: all 0.2s;
      font-size: 0.6rem;
    }

    .legend-btn-grid:hover {
      background-color: white;
      color: $font-color;
      cursor: pointer;
      border: none;
      // filter: drop-shadow(2px 2px 3px $font-color);
    }
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 1300px) {
  #logo {
    width: 10rem;
  }
  #sidebar {
    .sidebar-page-container {
      .sidebar-icon {
        width: 1.2rem;
      }
      .sidebar-names {
        font-size: 0.8rem;
      }
    }
  }

  .interval-unit,
  .query-btn,
  .tooltip-container {
    grid-row: 2;
    margin: 0;
    padding: 0;
  }
}