$ugly-sewage-green: #00695c;
$p-light-color: #439889;
$p-dark-color: #003d33;

$font-color: #00120f;

$secondary-color: #b2dfdb;
$tertiary-color: #d1ece9;
$s-light-color: #e5ffff;
$s-dark-color: #82ada9;

$sidebar-width: 240px;

html {
  height: 100vh;
  // prevents the window from over-scrolling and bouncing beyond the 100% screen size
  overflow: hidden;
}

body,
#root,
#sidebar,
#contents,
#landing-container {
  height: 100%;
}

body {
  margin: 0px;
}

* {
  // border: 1px black solid;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  width: 180px;
  margin: 8px;
}

#root {
  height: 100vh;
  padding: 0px;
  display: flex;
}

#sidebar {
  width: $sidebar-width;
  background-color: $ugly-sewage-green;

  ul {
    list-style-type: none;

    li {

      &,
      * {
        text-decoration: none;
        margin: 20px 0;
        font-size: 1.5rem;
        color: whitesmoke;
      }
    }
  }
}

#page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: flex-end;
  background-color: $ugly-sewage-green;

  img {
    display: block;
  }

  a {
    text-decoration: none;
  }

  h1 {
    display: block;
    height: max-content;
    color: whitesmoke;
    padding-right: 12px;
    margin: 12px;
    font-size: 1.7rem;
  }
}

#contents {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  & #left-side,
  #right-side {
    height: 100%;
    width: calc((100vw - $sidebar-width) / 2);
  }
}

#left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &>* {
    margin: 8px;
    padding: 12px;
  }
}

#tagline {
  display: block;
  margin: 0;
  text-align: right;
  background-color: $ugly-sewage-green;
  font-weight: 100;
  font-size: 1rem;
  font-style: italic;
  color: whitesmoke;
  padding-right: 12px;
}

footer {
  font-size: 0.75rem;
  text-align: center;
  color: $ugly-sewage-green;
  padding: 4px 0;
}

// left side styling
.cluster-chart-card {
  background-color: $s-light-color;
  box-shadow: 0px 1px 4px 0px $p-dark-color;
  border-radius: 0.2rem;
  margin: 10px 10px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;

  .cluster-chart-names {
    display: inline-block;
    width: 100px;
  }

  svg {
    margin: 0px 5px;
    // border: black 2px solid;
  }

  svg:hover {
    filter: drop-shadow(2px 2px 3px $p-dark-color);
  }
}

.modal {

  animation-name: opac;
  animation-fill-mode: both;
  animation-duration: .5s;

  position: absolute;
  top: 100;
  background-color: #82ada9;

  .modalHeading {
    position: relative;
    // right: 0px;
    top: 100px;
    // display: flex;
    // justify-content: flex-end;
    // #modalhead{

    // }
  }
}

@keyframes opac {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

// Right side event styling
#container-event {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $tertiary-color;

  &>* {
    padding: 12px;
    margin: 8px;
  }
}

#container-event-logs {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  // I thiiink flex-grow maxes out the height, but a fixed height is needed to make
  // overflow-y scrolling feature working. I don't know why.
  height: 100px;
  color: $font-color;
  background-color: whitesmoke;
  // border: 4px solid $s-dark-color;
  box-shadow: 0px 1px 4px 0px $p-dark-color;
  margin: 0px 20px 16px 20px;

  .event-card {
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    box-shadow: 0px 1px 4px 0px $p-dark-color;
    background-color: white;
    border-radius: 0.4rem;
    position: relative;

    &-header {
      display: flex;
      justify-content: space-between;
    }

    p {
      margin: 0.5rem 0;
    }
  }
}

#container-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  height: 50px;

  &>select {
    width: 140px;
    font-size: 1.1rem;
    // border: 1px solid black;
    // border-radius: 0.4rem;
    box-shadow: 0px 0.4px 2px 0px #003d33;
    padding: 0.25rem 0.5rem;
  }

.addToList {
  position: absolute;
  top: 10px;
  right: 10px;
}

.addToList {
  position: absolute;
  top: 10px;
  right: 10px;
}

// chart styling
#chartarea {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  // display: flex;
  // flex-direction: row-reverse;

  canvas {
    width: 200px;
    height: 200px;
  }
}

.loader {
  border: 6px solid $s-dark-color;
  /* Light grey */
  border-top: 6px solid $p-dark-color;
  /*#3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// This is styling for Landing page
#landing-container {
  background-color: $secondary-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  #logo {
    height: 48%;
    width: auto;
  }

  #namespace-selector-form {
    margin-top: 15vh;
    height: fit-content;
    width: 400px;
    padding: 10px 30px 30px 30px;

    // the code below will center the form absolutely
    // position: absolute;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;

    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(rgb(64, 0, 0), 0.2);

    text-align: center;

    h2 {
      font-size: 1.25rem;
    }

    #selector-namespace {
      width: 320px;
      height: 3rem;
      padding: 10px;
      font-size: 1.2rem;
      border-radius: 5px;
    }
  }
}

select:hover,
    select:focus-visible {
      outline: 2px solid $p-light-color;
    }